[submodule "picoCTF-web"]
	path = picoCTF-web
	url = https://github.com/carlneuhaus/picoCTF-web.git 
[submodule "picoCTF-shell-manager"]
	path = picoCTF-shell-manager
	url = https://github.com/carlneuhaus/picoCTF-shell-manager
